@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Assets/img/page/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Assets/css/style.css" rel="stylesheet" />
    <script src="~/Assets/js/main.js"></script>
    <title>Web Bán mỹ phẩm</title>
</head>

<body>
    <div class="header" style="text-align: center;">
        <a href="/"><img class="logo" src="~/Assets/img/page/logo.png" alt="" height="80px"></a>
    </div>
    <div class="container" style="background: #F2F2F2; padding: 30px;">
        <div class="box">
            <h3>Lấy lại mật khẩu</h3>
            <div>Chúng tôi sẽ gửi mật khẩu về số điện thoại này</div>
            <form action="" method="post">
                <input type="text" class="txt txtNumberPhone" placeholder="  Nhập số điện thoại" style="margin: 30px;"><br>
                <button type="submit" class="btn btn-getPassword">Đồng ý</button>
            </form>
        </div>
    </div>
</body>

</html>